{% extends 'testapp/base.html' %}


{% block body %}


<h1>{{person.name}}</h1>
<h1> {{person.country}}</h1>

{% if error_message %}
<p><strong>{{error_message}}</strong> </p>
{%endif%}


    {% csrf_token %}
      {% for description in person.description_set.all %}
          <label for="description{{ forloop.counter }} ">
            <h3>Address: </h3>  {{description.adress}}<br>
            <h3>Mobile Number: </h3>   {{description.mobile_number}}<br>
             <h3>Favorite Food: </h3>  {{description.favorite_food}}<br>

    </label><br>
 {%endfor%}

{% endblock %}























