<!-- path  -->
{% extends 'testapp/base.html' %}


{% block body %}
{% if all_persons %}
<h1>Here is All Person's Informations</h1>
<ul>
    {% for person in all_persons %}
    <li><a href="{%url 'testapp:detail' person.id %}">{{person.name}} </a></li>
<form action="{% url 'testapp:person-delete' person.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="person_id" value="{{ person.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
     <a href="{%url 'testapp:person-update' person.id %}">Edit </a>

    {%endfor%}
</ul>
{% else %}
<h3>You don't have Person Informations</h3>
{%endif%}
{% endblock %}











